$primary-color: #222222;
$second-primary-color: #ffffff;
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

/*____FIRST SECTION_____*/
.ba-container {
  background: url("../image/1header-img.png") 100% no-repeat;
  background-size: cover;
  display: block;
  /*  width: 1600px;*/
  height: 900px; /*100vh;*/
  min-width: 500px;
  margin: 0;
  color: #fffefe;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  &__logo {
    position: absolute;
    margin: 50px 0 0 215px;
  }
  &__hover {
    float: right;
    margin-right: 285px;
    margin-top: 40px;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        padding-right: 50px;
        color: #fffefe;
        text-transform: uppercase;
      }
      a:hover {
        color: #a7ee69;
        transition: 1.1s;
      }
      a {
        margin: .2em;
        padding: 1em;
        cursor: pointer;
        background: none;
        text-decoration: none;
        border: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      a {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        position: relative;
        overflow: hidden;
      }
      a:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: #a7ee69;
        height: 4px;
        transition-property: right;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }
      a:hover:before, a:focus:before, a:active:before {
        right: 0;
      }
    }
  }
  h1 {
    display: block;
    text-align: center;
    color: $second-primary-color;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    padding-top: 310px;
    padding-left: 35px;
    margin: 0 auto;
  }
  hr {
    width: 86px;
    height: 2px;
    border: none;
    background-color: #ffffff;
    text-align: center;
    margin-top: 46px;
    margin-bottom: 14px;
  }
  p {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    white-space: pre;
    margin-bottom: 220px; /*16:9, 1366x768*/
  }
  #anchor {
    display: block;
    border-radius: 50%;
    bottom: 46px;
    width: 92px;
    height: 92px;
    color: $second-primary-color;
    opacity: 0.2;
    margin: 0 auto;
  }
  #anchor:hover {
    display: block;
    /*  background-image: linear-gradient(#79aa4a, #5daa8d);
      border-radius: 50%;*/
    transition: 1.2s;
    opacity: 0.8;
  }
  /*.ion-chevron-down {
    font-size: 40px;
    font-weight: 100;
    position: relative;
    text-align: center;
    margin-bottom: 150px;
  }*/
}

/*____SECOND SECTION_____*/
.common-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1920px;
  min-width: 350px;
  margin-bottom: 100px;
  &__intro {
    display: block;
    text-align: center;
    min-width: 350px;
    max-width: 1920px;
    width: 100%;
    margin-top: 94px;
    margin-bottom: 50px;
  }
  h1 {
    color: $primary-color;
    text-transform: uppercase;
  }
  hr {
    width: 86px;
    height: 2px;
    border: none;
    text-align: center;
    background-color: $primary-color;
    margin-top: 46px;
    margin-bottom: 14px;
  }
  &__services {
    display: block;
    width: 316px;
    text-align: center;
    font-weight: 400;
    color: $primary-color;
    font-size: 16px;
    line-height: 30px;
    img {
      text-align: center;
    }
    h2 {
      font-size: 24px;
      line-height: 26px;
    }
  }
}

/*____THIRD SECTION_____*/
.ba-container-iphone {
  display: block;
  background: url("../image/3section-background.png") 100% no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  /*#invisible {
    display: block;
    float: left;
    background-color: #a7ee69;
    width: 213px;
    min-width: 10px;
    height: 500px;
    clear: both;
  }*/
  img {
    display: block;
    float: right;
    position: absolute;
    right: 213px;
    z-index: 0;
    margin-top: 75px;
  }
  &__item {
    display: block;
    position: relative;
    z-index: 1;
    padding-top: 130px;
    margin-left: 213px;
    h2 {
      display: block;
      color: $second-primary-color;
      font-size: 45px;
      font-weight: 400;
      line-height: 46px;
      text-transform: uppercase;
    }
    p {
      display: block;
      width: 524px;
      min-width: 200px;
      height: 78px;
      float: left;
      font-size: 22px;
      font-weight: 100;
      line-height: 23px;
      color: $second-primary-color;
      margin-top: -20px;
    }
    a {
      margin-top: 118px;
      /*margin-left: 213px;*/
      display: block;
      position: absolute;
      clear: left;
      float: left;
      color: $second-primary-color;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      text-decoration: underline;
    }
    a:hover {
      display: block;
      transform: scale(1.2);
      transition: 1.5s;
      color: #a7ee69;
      text-decoration: none;
      border-left: 1px solid #a7ee69;
      border-right: 1px solid #a7ee69;
      padding: 0 8px 0;
    }
  }
}

/*____FOURTH SECTION_____*/
.ba-container-our-work-header {
  display: block;
  width: 100%;
  height: 203px;
  text-align: center;
  h2 {
    margin-top: 103px;
    color: #222222;
    font-family: Raleway, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
  }
  hr {
    width: 86px;
    height: 2px;
    border: none;
    text-align: center;
    background-color: $primary-color;
    margin-top: 46px;
    margin-bottom: 14px;
  }
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1920px;
  width: 100%;
  &__our-work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 370px;
    min-width: 200px;
    padding-bottom: 80px;
    &--animation {
      position: absolute;
      background-color: #000000;
      opacity: 0;
      margin: 0 auto;
      width: 370px;
      height: 420px;
      max-height: 1500px;
      color: $second-primary-color;
      h3 {
        color: $second-primary-color;
        font-size: 22px;
        font-weight: 400;
        line-height: 50px;
        margin-top: 150px;
        text-align: center;
        text-transform: uppercase;
      }
      img {
        display: block;
        margin: 0 auto;
      }
    }
    &--animation:hover, .flex-container__our-work:hover {
      opacity: 0.75;
      transition: 1.3s;
    }
  }
}

.ba-container-our-work-footer {
  display: block;
  width: 100%;
  height: 139px;
  button {
    display: block;
    margin: 0 auto;
    border: 2px solid $primary-color;
    width: 370px;
    height: 60px;
    background: none;
    font-size: 24px;
    line-height: 60px;
    bottom: 80px;
    button:hover {
      display: block;
      background-image: linear-gradient(30deg, #21B5AE, #242455, #E5E4E2);
      transition: 1.2s;
      border-color: $second-primary-color;
      color: $second-primary-color;
    }
  }
}

/*____FIFTH SECTION_____*/
.flex-container-form {
  background: url("../image/5section-bg.png") 100% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1920px;
  min-width: 350px;
  height: 802px;
  color: $second-primary-color;
  &__intro {
    display: block;
    text-align: center;
    min-width: 350px;
    max-width: 1920px;
    width: 700px;
    margin-top: 94px;
    margin-bottom: 50px;
    h2 {
      text-transform: uppercase;
    }
    hr {
      width: 86px;
      height: 2px;
      border: none;
      text-align: center;
      background-color: $second-primary-color;
      margin-top: 46px;
      margin-bottom: 14px;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    font-size: 24px;
    width: 700px;
    li {
      list-style-type: none; /* delete markers */
      display: inline-block;
      a {
        display: inline-block;
        margin-right: 20px;
        text-decoration: none;
        color: red;
        :hover {
          color: $second-primary-color;
          transition: 1.2s;
          box-shadow: red;
          -webkit-transform: rotateZ(20deg);
          -ms-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
        }
      }
    }
  }
  #behance {
    display: inline-block;
    position: absolute;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
    padding: 5px;
    margin-top: -25px;
  }
  #behance:hover {
    border-color: $second-primary-color;
    transition: 1.2s;
  }
  &__forms {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 720px;
    min-width: 360px;
    label {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      min-width: 330px;
      input {
        display: block;
        width: 302px;
        min-width: 200px;
        outline: none;
        background: none;
        border: none;
        border-bottom: 2px solid #c0c0c0;
        padding-left: 30px;
        color: $second-primary-color;
        font-size: 18px;
        font-style: italic;
        line-height: 40px;
      }
    }
    input {
      display: block;
      width: 669px;
      min-width: 300px;
      outline: none;
      background: none;
      border: none;
      border-bottom: 2px solid #c0c0c0;
      padding-left: 30px;
      color: $second-primary-color;
      font-size: 18px;
      font-style: italic;
      line-height: 40px;
    }
    button {
      display: block;
      margin: 0 auto;
      border: 2px solid $second-primary-color;
      color: $second-primary-color;
      width: 183px;
      height: 60px;
      font-size: 24px;
      line-height: 60px;
      bottom: 122px;
      text-transform: uppercase;
      background: none;
      button:hover {
        display: block;
        background-color: $primary-color;
        color: red;
        transition: 1.2s;
        border-color: $second-primary-color;
      }
    }
  }
}



